@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        /* 1rem 16px */
        font-size: 100%;
    }

    body{
        @apply font-sans px-20;
    }

    h1{
        @apply text-heading-1 leading-[3.2rem] font-bold;
    }

    h2{
        @apply text-heading-2 leading-[2.6rem];
    }

    h3{
        @apply text-heading-3 leading-[2.1rem];
    }

    h4{
        @apply text-heading-4 leading-[1.7rem];
    }

    h5{
        @apply text-heading-5 leading-[1.4rem];
    }

    p{
        @apply text-paragraph text-neutral-500;
    }

    ul{
        list-style: none;
    }
}

@layer components {
    .btn{
        @apply text-btn font-bold;
    }

    .btn--small{
        @apply py-1/2 px-1 rounded inline-block;
    }

    .btn--small-secondary{
        @apply border border-gray-400;
    }

    .btn--medium{
        @apply p-1 rounded inline-block;
    }

    .btn--medium-secondary{
        @apply border border-gray-400;
    }

    .card__camp{
        flex: 0 0 calc(33% - 1rem);
    }
}

@layer utilities{
    [x-cloak] { display: none !important; }
}